body {
	color: blueviolet;
	background-color: black;
}
.header {
	display: flex;
	background-color: black;
	padding: 1em;
	color: white;

	/* Border */
	border-style: solid;
	border-color: white;
	border-radius: 1em;

	/* Alignment */
	align-items: center;
	justify-content: space-between;
}

.header button {
	background-color: inherit;
	color: white;
	cursor:pointer;
	border: none;
}

.header h1:hover {
  opacity: 100%;
	color: red;
}

.header:hover {
	border-color: blue;
}

.date {
	color: blue;
}

.menu-items {
	background-color: black;
	padding: 1em;
	width: 20em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	color: white;
	border-style: dashed;
	border-color: white;
	border-radius: 1em;
}

.menu-items button {
	background-color: black;
	border-style: solid;
	border-radius: 1em;
	border-color: white;
	padding: .5em 2em
}

.menu-items:hover {
	border-color: green;
}

.menu-items button:hover {
	border-color: red;
}

.menu-items button p {
	margin: 0px;
}
.menu-items button:hover p {
	opacity: 100%;
	color: red;
}

.footer {
	display: flex;
	align-items: center;
	border-style: solid;
	border-radius: 1em;
	border-color: white;
	background-color: black;
	color: white;
	position: absolute;
	bottom: 0;
	width:98.5%;
	height: 7em;
	margin-bottom: .5em;
}

.footer:hover {
	border-color: blue;
}

.octocat {
	padding: 1em;
  filter: invert(100%) sepia(4%) saturate(3%) hue-rotate(298deg) brightness(104%) contrast(100%);
}

.octocat:hover {
	opacity: 100%;
	filter: invert(38%) sepia(100%) saturate(6805%) hue-rotate(354deg) brightness(91%) contrast(130%);
}
