body {
	background-color: lightskyblue;
}
.header {
	display: flex;
	background-color: blue;
	padding: 1em;
	color: white;

	/* Border */
	border-style: solid;
	border-color: red;
	border-radius: 1em;

	/* Alignment */
	align-items: center;
	justify-content: space-between;
}

.header button {
	background-color: inherit;
	color: white;
	cursor:pointer;
	border: none;
}

.header h1:hover {
  opacity: 75%;
}

.date {
	color: red;
}

.menu-items {
	background-color: black;
	padding: 1em;
	width: 20em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	color: white;
	border-style: dashed;
	border-color: white;
	border-radius: 1em;
}

.menu-items button {
	background-color: black;
	border-style: solid;
	border-radius: 1em;
	border-color: white;
	padding: .5em 2em
}

.menu-items button:hover {
	border-color: red;
}

.menu-items button p {
	margin: 0px;
}
.menu-items button:hover p {
	opacity: 75%;
	color: red;
}

.footer {
	display: flex;
	align-items: center;
	border-style: solid;
	border-radius: 1em;
	border-color: red;
	background-color: blue;
	color: white;
	position: absolute;
	bottom: 0;
	width:99%;
	height: 7em;
}

.octocat {
	padding: 1em;
}

.octocat:hover {
	opacity: 100%;
	background-color: white;
}
