.post {
  border-style: solid;
  border-radius: 1em;
  border-color: white;
  padding: 1em;
}

.post button {
	background-color: inherit;
	color: white;
	cursor:pointer;
	border: none;
}

.post:hover {
  border-color: red;
  border-style: dashed;
}

.post:hover button h2{
  text-decoration: underline solid red;
}

.post-image {
  max-width: 100%;
  height: auto;
}

.grid {
  max-width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1em;
}