.postSummary {
  border-style: solid;
  border-radius: 1em;
  border-color: white;
  padding: 1em;
  white-space: pre-wrap;
}

.postSummary button {
	background-color: inherit;
	color: white;
	cursor:pointer;
	border: none;
}

.postSummary:hover {
  border-color: red;
  border-style: dashed;
}

.postSummary:hover button h2{
  text-decoration: underline solid red;
}

.post-summary-image {
  max-width: 100%;
  height: auto;
}

#blog-grid {
  max-width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.post {
  white-space: pre-wrap;
}